.ref_g_scrollbar_black {
  /***
*** ����������
http://www.xuanfengge.com/css3-webkit-scrollbar.html
::-webkit-scrollbar ���������岿��
::-webkit-scrollbar-thumb  ������������С���飬�����������ƶ��������������ƶ���ȡ�����Ǵ�ֱ����������ˮƽ��������
::-webkit-scrollbar-track  �������Ĺ���������װ��Thumb��
::-webkit-scrollbar-button �������Ĺ��������˰�ť������ͨ������΢��С������λ�á�
::-webkit-scrollbar-track-piece �ڲ��������������м䲿�֣���ȥ��
::-webkit-scrollbar-corner �߽ǣ��������������Ľ��㴦
::-webkit-resizer �����������Ľ��㴦������ͨ���϶�����Ԫ�ش�С��С�ؼ�
***/
}
.ref_g_scrollbar_black ::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-button:start:decrement,
.ref_g_scrollbar_black ::-webkit-scrollbar-button:end:increment {
  display: block;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-button:vertical:start:increment,
.ref_g_scrollbar_black ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-corner {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.02);
  background-color: rgba(0, 0, 0, 0.02);
}
.ref_g_scrollbar_black ::-webkit-scrollbar-track:vertical,
.ref_g_scrollbar_black ::-webkit-scrollbar-track:horizontal,
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:vertical,
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:horizontal,
.ref_g_scrollbar_black ::-webkit-scrollbar-track:vertical,
.ref_g_scrollbar_black ::-webkit-scrollbar-track:horizontal,
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:vertical,
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:horizontal {
  border-style: solid;
  border-color: transparent;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
  background-clip: padding-box;
  background-color: #fff;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 28px;
  padding-top: 100;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4);
}
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.5);
}
.ref_g_scrollbar_black ::-webkit-scrollbar-track:vertical,
.ref_g_scrollbar_black ::-webkit-scrollbar-track:horizontal,
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:vertical,
.ref_g_scrollbar_black ::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
}
.ref_g_scrollbar_black ::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}
.ref_g_scrollbar_black ::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  background-color: rgba(0, 0, 0, 0.05);
}
.ref_g_scrollbar_black ::-webkit-resizer {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}
#rty-app-promot-layer {
  display: none;
  position: absolute;
  width: 712px;
  height: 300px;
  bottom: 20px;
  right: 20px;
  z-index: 2147483648;
  opacity: 0.95;
  background: -webkit-linear-gradient(top, #3a404d, #181c26);
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}
.app-promot-leaderboard {
  /***
*** ����������
http://www.xuanfengge.com/css3-webkit-scrollbar.html
::-webkit-scrollbar ���������岿��
::-webkit-scrollbar-thumb  ������������С���飬�����������ƶ��������������ƶ���ȡ�����Ǵ�ֱ����������ˮƽ��������
::-webkit-scrollbar-track  �������Ĺ���������װ��Thumb��
::-webkit-scrollbar-button �������Ĺ��������˰�ť������ͨ������΢��С������λ�á�
::-webkit-scrollbar-track-piece �ڲ��������������м䲿�֣���ȥ��
::-webkit-scrollbar-corner �߽ǣ��������������Ľ��㴦
::-webkit-resizer �����������Ľ��㴦������ͨ���϶�����Ԫ�ش�С��С�ؼ�
***/
}
.app-promot-leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
}
.app-promot-leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}
.app-promot-leaderboard h1 toolbar {
  right: 0;
  position: absolute;
  padding: 0px 24px;
}
.app-promot-leaderboard ::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
.app-promot-leaderboard ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
.app-promot-leaderboard ::-webkit-scrollbar-button:start:decrement,
.app-promot-leaderboard ::-webkit-scrollbar-button:end:increment {
  display: block;
}
.app-promot-leaderboard ::-webkit-scrollbar-button:vertical:start:increment,
.app-promot-leaderboard ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.app-promot-leaderboard ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.app-promot-leaderboard ::-webkit-scrollbar-corner {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.02);
  background-color: rgba(0, 0, 0, 0.02);
}
.app-promot-leaderboard ::-webkit-scrollbar-track:vertical,
.app-promot-leaderboard ::-webkit-scrollbar-track:horizontal,
.app-promot-leaderboard ::-webkit-scrollbar-thumb:vertical,
.app-promot-leaderboard ::-webkit-scrollbar-thumb:horizontal,
.app-promot-leaderboard ::-webkit-scrollbar-track:vertical,
.app-promot-leaderboard ::-webkit-scrollbar-track:horizontal,
.app-promot-leaderboard ::-webkit-scrollbar-thumb:vertical,
.app-promot-leaderboard ::-webkit-scrollbar-thumb:horizontal {
  border-style: solid;
  border-color: transparent;
}
.app-promot-leaderboard ::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
  background-clip: padding-box;
  background-color: #fff;
}
.app-promot-leaderboard ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 28px;
  padding-top: 100;
}
.app-promot-leaderboard ::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4);
}
.app-promot-leaderboard ::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.5);
}
.app-promot-leaderboard ::-webkit-scrollbar-track:vertical,
.app-promot-leaderboard ::-webkit-scrollbar-track:horizontal,
.app-promot-leaderboard ::-webkit-scrollbar-thumb:vertical,
.app-promot-leaderboard ::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
}
.app-promot-leaderboard ::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}
.app-promot-leaderboard ::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
  background-color: rgba(0, 0, 0, 0.05);
}
.app-promot-leaderboard ::-webkit-resizer {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}
.app-promot-leaderboard container {
  display: block;
  height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.app-promot-leaderboard container a {
  outline: 0;
  color: #298cda;
  text-decoration: none;
}
.app-promot-leaderboard container .app-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0px 10px 0px;
  letter-spacing: -0.04em;
  height: 120px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-icon {
  width: 75px;
  float: left;
}
.app-promot-leaderboard container .app-item .app-show-info .app-icon img {
  width: 64px;
  height: 64px;
  padding: 4px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content {
  width: 525px;
  float: left;
  padding-right: 10px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-header {
  height: 25px;
  overflow: hidden;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-header h2 {
  color: #262626;
  letter-spacing: -0.04em;
  font-size: 16px;
  line-height: 16px;
  height: 25px;
  margin: 0px 10px 0px 0px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 370px;
  padding-right: 1px;
  font-weight: 600;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-header h2 a {
  color: #9ed929;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-header .app-update {
  margin-left: 2px;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-header .app-update a {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  background: #f39c12;
  padding: 0px 4px;
  border-radius: 3px;
  letter-spacing: -0.04em;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-header .price-drop a {
  background: #27ae60;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-header .app-update-date {
  display: inline;
  font-size: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #888;
  margin-left: 5px;
  background: #fff;
  padding: 0px 4px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-transform: uppercase;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content p {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: -0.04em;
  color: #f9f3f3;
  margin-bottom: 10px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content .app-desc {
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.app-promot-leaderboard container .app-item .app-show-info .app-content-change {
  width: 460px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price {
  width: 75px;
  height: 75px;
  float: left;
  text-align: center;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price .main-unit.medium-size {
  font-size: 20px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price .sub-unit {
  font-size: 12px;
  position: relative;
  top: -7px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price .sub-unit.medium-size {
  top: -6px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price-change {
  color: white;
  padding-top: 10px;
  height: 56px;
  position: relative;
  font-weight: 600;
  line-height: 40px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price-change .price-strike {
  position: absolute;
  top: 31px;
  left: 11px;
  width: 55px;
  height: 4px;
  background: red;
  opacity: 0.25;
  -webkit-transform: rotate(160deg);
  transform: rotate(160deg);
}
.app-promot-leaderboard container .app-item .app-show-info .app-price-change .was-label {
  font-size: 13px;
  font-weight: bold;
  color: #c3c3c3;
  /* margin-top: -12px; */
  position: absolute;
  top: 42px;
  right: 21px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price {
  width: 75px;
  height: 75px;
  float: left;
  text-align: center;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price a {
  float: left;
  width: 75px;
  height: 73px;
  background: #dedede;
  border-radius: 5px;
  box-shadow: 0px 2px 0px #b2b2b2;
  color: #424242;
  font-weight: 600;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price .app-price-border {
  width: 75px;
  height: 75px;
  float: left;
  width: 55px;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  border-radius: 3px;
  margin: 10px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price .main-unit {
  font-size: 22px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price .sub-unit {
  font-size: 12px;
  position: relative;
  top: -7px;
}
.app-promot-leaderboard container .app-item .app-show-info .app-price .price-label {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  bottom: 7px;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-coupon {
  width: 250px;
  float: left;
  margin: 0.3em 0.3em 0.3em 0;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-coupon label {
  color: #e1e1e1;
  padding: 0px 0px 0px 12px;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-coupon mark {
  min-width: 156px;
  padding: 2px 8px 2px 8px;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-share {
  width: 440px;
  float: left;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-share .app-share-socials {
  padding: 0px 0px 0px 16px;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-share .app-share-socials .jssocials-shares {
  margin: -0.6em 0;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-share .app-share-socials .jssocials-shares .jssocials-share {
  display: inline-block;
  vertical-align: top;
  margin: 0.2em 0.2em 0.2em 0;
}
.app-promot-leaderboard container .app-item .app-show-toolbar .app-share .app-share-socials .jssocials-shares a {
  color: white;
}
